* {
    box-sizing: border-box
}

body {
    font-family: sans-serif;
}

#container {
    display: flex
}

/* LEFT COLUMN */

#left-col {
    flex: 1
    justify-content: flex-end;
    margin-left: 20%;
    margin-right: -10%;
}

.bottom {
    display: inline-block;
    font-size: 36px;
    color: #36648b;
    width: 17%;
    text-align: center;
}

.bottom p {
    font-size: 10px;
    color: grey;
    width: 20%;
    padding: 20%;
}

#profilePic {
    width: 50%;
    border-radius: 5%
}

#name {
    width: 50%;
    font-size: 24px

}

#username {
    width: 50%;
    color: #868686;
    font-size: 18px

}

#left-col hr {
    width: 50%;
}

/* RIGHT COLUMN */

#right-col {
    flex: 3
}

h1 {
    color: #36648b;
}

.repos {
    display: flex;
    align-items: center;
}

.left {
    flex: 5;
}

.left p {
    color: #999999;
}

.right{
    font-size: 12px;
    font-weight: bold;
    color: #999999;
    flex: 1;
    /*border: 3px solid purple;*/
}